.ggem-btn {
  box-shadow: none;
  border-radius: 5px;
  padding: 12px 15px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.ggem-btn i {
  margin-left: 5px;
  color: #fff;
}

.ggem-btn:disabled,
.ggem-btn:disabled:hover {
  background-color: #81bdec;
  color: #fff;
  cursor: not-allowed;
}

.ggem-btn-submit {
  background-color: #2196F3;
  color: #fff;
  border: 1px solid transparent;
}

.ggem-btn-submit:hover {
  background-color: #0f7fd8;
  color: #fff;
}

.ggem-btn-primary {
  color: #2196F3;
  background-color: #fff;
  border: 1px solid #2196F3;
}

.ggem-btn-primary:hover {
  background-color: #2196F3;
  color: #fff;
  border: 1px solid transparent;
}

.ggem-btn--full {
  display: block;
  width: 100%;
  max-width: 100%;
}

.ggem-wrap .ggem-btn {
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
  width: auto;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  box-shadow: none;
  border-radius: 5px;
}

.ggem-metabox-panel-wrap {
  background: #FFF;
}

/** input group */

.ggem-repeatable-field-section table {
  width: 100%;
}

.ggem-repeatable-field-section .ggem-template {
  display: none;
}

.ggem-repeatable-field-section .button-action {
  cursor: hand;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.ggem-repeatable-field-section .opal-row-body {
  padding: 15px;
  background-color: #fcfcfc;
}

.ggem-repeatable-field-section .button-action-group {
  display: inline-block;
  float: right;
}

.ggem-repeatable-field-section .opal-row-head {
  border-bottom: solid 3px #cdcdcd;
  position: relative;
  padding: 8px 0px;
}

.ggem-repeatable-field-section .opal-row-head .repeat-title {
  font-size: 14px;
  margin: 0;
  display: inline-block;
}

.ggem-repeatable-field-section .ggem-add-repeater-field-section-row-wrap {
  padding: 15px;
}

label.ggem-label {
  display: inline-block;
  width: 15%;
  font-weight: 500;
  font-size: 14px;
}

.ggem-field-wrap {
  padding: 15px 0;
  display: flex;
}

.ggem-field-wrap.ggem-title-field-wrap {
  display: block;
}

.ggem-field-main {
  display: inline-block;
}

.ggem-google-taxonomy-field-wrap.loading .ggem_google_taxonomy_select {
  display: none;
}

.ggem-switch-field-wrap .ggem-description {
  display: inline-block;
  margin-left: 15px;
}

.checkbox-list.checkbox-block .checkbox-item {
  display: block;
}

.checkbox-list.checkbox-inline .checkbox-item {
  display: inline-block;
}

.checkbox-list.checkbox-inline .checkbox-item:not(:last-child) {
  margin-right: 15px;
}

.checkbox-list .checkbox-item {
  font-size: 14px;
  line-height: 16px;
  margin: 1px 0 5px 0;
}

.radio-list.radio-block .radio-item {
  display: block;
}

.radio-list.radio-inline .radio-item {
  display: inline-block;
}

.radio-list.radio-inline .radio-item:not(:last-child) {
  margin-right: 15px;
}

.radio-list .radio-item {
  font-size: 14px;
  line-height: 16px;
  margin: 1px 0 5px 0;
}

.ggem-field-wrap input[type="checkbox"] {
  margin: 0 5px 0 0;
  padding: 0;
}

.ggem-multicheck-action {
  margin-bottom: 15px;
}

.ggem-account-status {
  display: inline-flex;
  line-height: 2.5em;
  color: #777;
  background: #e5e5e5;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: -.25em 0;
  cursor: inherit !important;
  white-space: nowrap;
  max-width: 100%;
}

.ggem-account-status > span {
  margin: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ggem-account-status.active {
  background: #c6e1c6;
  color: #5b841b;
}

.ggem-account-status.suspended {
  background: #eba3a3;
  color: #761919;
}

.ggem-account-status.limited {
  background: #f8dda7;
  color: #94660c;
}

.ggem-wrap {
  font-size: 11px;
  color: #141823;
  line-height: 1.28;
}

.ggem-open-popup {
  width: 200px;
}

.ggem-open-popup-button {
  cursor: pointer;
}

.ggem-open-popup-button i {
  font-size: 13px;
  line-height: 20px;
}

.ggem-popup-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: auto;
  background: #fcfcfc;
  padding: 1em 1.5em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.ggem-popup-header span {
  line-height: 46px;
}

.ggem-popup-body {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ggem-popup-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 1em 1.5em;
  background: #fcfcfc;
  border-top: 1px solid #dfdfdf;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.1);
  text-align: right;
}

.ggem-popup-form {
  overflow-y: auto;
  max-height: 600px;
}

.ggem-popup-wrap .ggem-popup-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  z-index: 1000010;
}

.ggem-popup-wrap .ggem-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 380px;
  height: 450px;
  background-color: #fff;
  z-index: 1000011;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.ggem-popup-wrap .ggem-popup.wide {
  width: 640px;
  height: 640px;
}

.ggem-popup-wrap .ggem-popup-top-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  color: red;
  border-left: 1px solid #ddd;
  text-align: center;
}

#the-list table tr:last-child th {
  border-bottom: 1px solid #ccd0d4 !important;
}

.ggem-open-popup-wrap {
  margin-bottom: 15px;
}

.ggem-categories-list-wrap {
  height: 320px;
  overflow-y: auto;
}

.ggem-popup-title {
  margin-top: 0;
  margin-bottom: 0;
}

.ggem-popup-title i {
  font-size: 16px;
}

.ggem-table-label {
  font-weight: 600;
}
/*# sourceMappingURL=admin.css.map */
