.ggem-account-status {
	display: -webkit-inline-box;
	display: inline-flex;
	line-height: 2.5em;
	color: #777;
	background: #e5e5e5;
	border-radius: 4px;
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: -.25em 0;
	cursor: inherit!important;
	white-space: nowrap;
	max-width: 100%;

	>span {
		margin: 0 1em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.ggem-active {
		background: #c6e1c6;
		color: #5b841b;
	}

	&.ggem-suspended {
		background: #eba3a3;
		color: #761919;
	}

	&.ggem-limited {
		background: #f8dda7;
		color: #94660c;
	}

	&.trash {
		background: #eba3a3;
		color: #761919;
	}
}

.ggem-popup-top-status {
	position: absolute;
	top: 0;
	right: 50px;
	height: 40px;
}
